<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/login.css">
        <script src="static/js/register.js"></script>
    </head>
    <body>
        <div class="container">
            <h5 class="mb-3">Register</h5>
            <form method="POST" action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="registerEmail">Email:</label>
                    <input type="email" class="form-control" id="registerEmail" name="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="registerPassword">Password:</label>
                    <input type="password" class="form-control" id="registerPassword" name="password" placeholder="Enter password (at least 8 characters, 1 number, 1 special character)" pattern="(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Password must contain at least 8 characters, 1 number, 1 uppercase, 1 lowercase, and 1 special character" required>
                </div>
                <div class="form-group">
                    <label for="x">Country:</label>
                    <select class="form-control" id="country" name="country" onchange="updateCities()" required>
                        <option value="" disabled selected>Select Country</option>
                        <option value="usa">USA</option>
                        <option value="canada">Canada</option>
                        <option value="turkey">Turkey</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <select class="form-control" id="city" name="city" required>
                        <option value="" disabled selected>Select City</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname" required>
                </div>
                <button type="submit" class="btn btn-success btn-block">Register</button>
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-block">Login</a>
                <a href="{{ url_for('home') }}" class="btn btn-info btn-block">Back to Home</a>
            </form>
        </div>
    </body>
</html>
